---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/
$link-color: blue;
// $body-color: blue;
// $background-color: blue;
// $text-color: blue;
// $link-color: blue;
$masthead-link-color: white;

.masthead {
    background-image: url("/headerimg.png");
}

.greedy-nav {
    background-color: transparent !important;
}

.icon {
    fill: white !important;
}

.greedy-nav a:hover {
    color: #bbbbbb;
}

.greedy-nav .hidden-links
{
    background: #0092ca !important;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

